openapi: 3.1.0
info:
  title: Fuse — Federated Query Engine API
  description: REST API for the Fuse cross-datasource federated query engine.
  version: 0.1.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://fuse.huanji.profile.aws.dev
    description: Playground (Amazon VPN only)
  - url: http://localhost:9400
    description: Local development

paths:
  /api/fuse/health:
    get:
      summary: Health check
      description: Returns engine status and per-connector health.
      operationId: health
      tags: [System]
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/fuse/datasources:
    get:
      summary: List datasources
      description: Returns all registered datasource connectors with their capabilities.
      operationId: listDatasources
      tags: [Datasources]
      responses:
        "200":
          description: List of datasources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DatasourceInfo"

  /api/fuse/datasources/{id}/schemas:
    get:
      summary: List schemas for a datasource
      description: Discovers available schemas (indices, tables, buckets, metrics) in a datasource.
      operationId: getSchemas
      tags: [Datasources]
      parameters:
        - $ref: "#/components/parameters/DatasourceId"
      responses:
        "200":
          description: List of schemas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SchemaInfo"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/fuse/datasources/{id}/schemas/{table}/fields:
    get:
      summary: Get fields for a table
      description: Returns the Arrow schema (field names, types, nullability) for a specific table.
      operationId: getFields
      tags: [Datasources]
      parameters:
        - $ref: "#/components/parameters/DatasourceId"
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: Table/index/metric name
      responses:
        "200":
          description: List of fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FieldInfo"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/fuse/query:
    post:
      summary: Execute a federated query
      description: |
        Parses a SQL or PPL query, routes sub-queries to the appropriate
        connectors, and returns merged results.

        The query must reference tables as `datasource.table` (e.g., `cluster_a.logs`).
      operationId: query
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
            examples:
              sql:
                summary: SQL query
                value:
                  query: "SELECT * FROM cluster_a.logs WHERE status = 500"
                  format: sql
              ppl:
                summary: PPL query
                value:
                  query: "source = cluster_a.logs | where status >= 500 | stats count() by service"
                  format: ppl
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/fuse/query/validate:
    post:
      summary: Validate a query
      description: Checks if a query is syntactically valid and references existing datasources.
      operationId: validateQuery
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateResponse"

  /api/fuse/query/explain:
    post:
      summary: Explain a query plan
      description: Returns the federated execution plan without running the query.
      operationId: explainQuery
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: Execution plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplainResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

components:
  parameters:
    DatasourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Datasource connector ID

  schemas:
    QueryRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          description: SQL or PPL query string
        format:
          type: string
          enum: [sql, ppl]
          default: sql
          description: Query language format

    QueryResponse:
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
          description: Column names
        rows:
          type: array
          items:
            type: array
            items: {}
          description: Row data (array of arrays)
        metadata:
          type: object
          properties:
            total_rows:
              type: integer
            format:
              type: string

    DatasourceInfo:
      type: object
      properties:
        id:
          type: string
        connector_type:
          type: string
        capabilities:
          $ref: "#/components/schemas/ConnectorCapabilities"

    ConnectorCapabilities:
      type: object
      properties:
        supports_filtering:
          type: boolean
        supports_projection:
          type: boolean
        supports_aggregation:
          type: boolean
        supports_sorting:
          type: boolean
        supports_limit:
          type: boolean
        supports_join:
          type: boolean
        max_concurrent_queries:
          type: integer
        supports_streaming:
          type: boolean
        latency_class:
          type: string
          enum: [low, medium, high]

    SchemaInfo:
      type: object
      properties:
        name:
          type: string
        schema_type:
          type: string
          enum: [index, table, bucket, metricname]
        estimated_row_count:
          type: integer
          nullable: true

    FieldInfo:
      type: object
      properties:
        name:
          type: string
        data_type:
          type: string
        nullable:
          type: boolean

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, error]
        connectors:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [healthy, degraded, unhealthy]
              latency_ms:
                type: integer
                nullable: true
              message:
                type: string
                nullable: true

    ValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        error:
          type: string
          nullable: true

    ExplainResponse:
      type: object
      properties:
        plan:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
