openapi: 3.1.0
info:
  title: Fuse — Federated Query Engine API
  description: REST API for the Fuse cross-datasource federated query engine.
  version: 2.0.0
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://fuse.huanji.profile.aws.dev
    description: Playground (Amazon VPN only)
  - url: http://localhost:9400
    description: Local development

paths:
  /api/fuse/health:
    get:
      summary: Health check
      description: Returns engine status and per-connector health.
      operationId: health
      tags: [System]
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/fuse/datasources:
    get:
      summary: List datasources
      description: Returns all registered datasource connectors with their capabilities.
      operationId: listDatasources
      tags: [Datasources]
      responses:
        "200":
          description: List of datasources
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DatasourceInfo"

  /api/fuse/datasources/{id}/schemas:
    get:
      summary: List schemas for a datasource
      description: Discovers available schemas (indices, tables, buckets, metrics) in a datasource.
      operationId: getSchemas
      tags: [Datasources]
      parameters:
        - $ref: "#/components/parameters/DatasourceId"
      responses:
        "200":
          description: List of schemas
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SchemaInfo"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/fuse/datasources/{id}/schemas/{table}/fields:
    get:
      summary: Get fields for a table
      description: Returns the Arrow schema (field names, types, nullability) for a specific table.
      operationId: getFields
      tags: [Datasources]
      parameters:
        - $ref: "#/components/parameters/DatasourceId"
        - name: table
          in: path
          required: true
          schema:
            type: string
          description: Table/index/metric name
      responses:
        "200":
          description: List of fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FieldInfo"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/fuse/query:
    post:
      summary: Execute a federated query
      description: |
        Parses a SQL or PPL query, routes sub-queries to the appropriate
        connectors, and returns merged results.

        The query must reference tables as `datasource.table` (e.g., `cluster_a.logs`).
      operationId: query
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
            examples:
              sql:
                summary: SQL query
                value:
                  query: "SELECT * FROM cluster_a.logs WHERE status = 500"
                  format: sql
              ppl:
                summary: PPL query
                value:
                  query: "source = cluster_a.logs | where status >= 500 | stats count() by service"
                  format: ppl
      responses:
        "200":
          description: Query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/fuse/query/validate:
    post:
      summary: Validate a query
      description: Checks if a query is syntactically valid and references existing datasources.
      operationId: validateQuery
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: Validation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateResponse"

  /api/fuse/query/explain:
    post:
      summary: Explain a query plan
      description: Returns the federated execution plan without running the query.
      operationId: explainQuery
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: Execution plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplainResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/fuse/query/stream:
    post:
      summary: Stream query results (SSE)
      description: |
        Executes a query and streams results as Server-Sent Events.
        Events: `metadata` (column names), `batch` (rows), `progress`, `done`, `error`.
      operationId: streamQuery
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
                description: |
                  Newline-delimited SSE events. Each `data:` line is a JSON object with a `type` field:
                  - `{"type":"metadata","columns":["col1","col2"]}`
                  - `{"type":"batch","rows":[["v1","v2"]]}`
                  - `{"type":"progress","batches_sent":5}`
                  - `{"type":"done","total_rows":42}`
                  - `{"type":"error","message":"..."}`

  /api/fuse/history:
    get:
      summary: Query history
      description: Returns recent query executions with timing and row counts.
      operationId: history
      tags: [System]
      responses:
        "200":
          description: List of recent queries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HistoryEntry"

  /api/fuse/alerts:
    get:
      summary: List alert rules
      description: Returns all configured alert rules.
      operationId: listAlerts
      tags: [Alerts]
      responses:
        "200":
          description: Alert rules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlertInfo"

  /api/fuse/alerts/evaluate:
    post:
      summary: Evaluate all alert rules
      description: Runs all configured alert rules immediately and returns firing alerts.
      operationId: evaluateAlerts
      tags: [Alerts]
      responses:
        "200":
          description: Firing alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AlertResult"

  /api/fuse/views:
    get:
      summary: List materialized views
      description: Returns all registered materialized views with their staleness status.
      operationId: listViews
      tags: [Views]
      responses:
        "200":
          description: Materialized views
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ViewInfo"

  /api/fuse/views/{name}:
    get:
      summary: Query a materialized view
      description: Returns cached results for a materialized view.
      operationId: getView
      tags: [Views]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cached query results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          description: View exists but has not been refreshed yet

  /api/fuse/views/{name}/refresh:
    post:
      summary: Refresh a materialized view
      description: Re-executes the view's query and updates the cached results.
      operationId: refreshView
      tags: [Views]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Refresh result
          content:
            application/json:
              schema:
                type: object
                properties:
                  refreshed:
                    type: boolean
                  view:
                    type: string
        "404":
          $ref: "#/components/responses/NotFound"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/fuse/trace/{trace_id}:
    get:
      summary: Reconstruct a distributed trace
      description: |
        Fans out to all registered datasources, searches for rows matching the
        given trace_id, and returns a merged timeline sorted by timestamp.
        Useful for cross-source distributed trace correlation.
      operationId: traceReconstruct
      tags: [Trace]
      parameters:
        - name: trace_id
          in: path
          required: true
          schema:
            type: string
          description: Trace ID to search across all datasources
      responses:
        "200":
          description: Reconstructed trace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TraceResponse"

  /api/fuse/saved:
    get:
      summary: List saved queries
      operationId: listSavedQueries
      tags: [Saved Queries]
      responses:
        "200":
          description: Saved query list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SavedQuery"
    post:
      summary: Save a named query
      operationId: saveQuery
      tags: [Saved Queries]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SavedQuery"
      responses:
        "200":
          description: Query saved

  /api/fuse/saved/{name}:
    get:
      summary: Get a saved query
      operationId: getSavedQuery
      tags: [Saved Queries]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Saved query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SavedQuery"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      summary: Delete a saved query
      operationId: deleteSavedQuery
      tags: [Saved Queries]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deleted
        "404":
          $ref: "#/components/responses/NotFound"

  /api/fuse/queries/running:
    get:
      summary: List running queries
      operationId: listRunningQueries
      tags: [Query]
      responses:
        "200":
          description: Running query IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /api/fuse/query/{id}/cancel:
    delete:
      summary: Cancel a running query
      operationId: cancelQuery
      tags: [Query]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Query ID from running queries list
      responses:
        "200":
          description: Cancelled
        "404":
          $ref: "#/components/responses/NotFound"

  /api/fuse/multi:
    post:
      summary: Execute multiple SQL statements in one request
      description: |
        Splits the query string by semicolons and executes each statement
        sequentially. Returns an array of results, one per statement.
        Single statements are delegated to the normal query handler.
      operationId: multiQuery
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryRequest"
      responses:
        "200":
          description: Array of query results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/QueryResponse"

  /api/fuse/nl:
    post:
      summary: Natural language to SQL
      description: |
        Converts a natural language question into a SQL query using schema
        context from all registered datasources. Optionally executes the
        generated query and returns results.
      operationId: nlToSql
      tags: [Query]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question:
                  type: string
                  description: Natural language question
                execute:
                  type: boolean
                  default: false
                  description: If true, execute the generated SQL and return results
      responses:
        "200":
          description: Generated SQL and optional results
          content:
            application/json:
              schema:
                type: object
                properties:
                  sql:
                    type: string
                  results:
                    $ref: "#/components/schemas/QueryResponse"

  /api/fuse/advisor:
    get:
      summary: Query optimization advice
      description: |
        Analyzes recent query history and returns optimization recommendations
        (e.g., missing indexes, repeated full scans, slow queries).
      operationId: queryAdvisor
      tags: [Query]
      responses:
        "200":
          description: Advisor recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  advice:
                    type: array
                    items:
                      type: string
                  analyzed_queries:
                    type: integer

  /api/fuse/stats:
    get:
      summary: Query statistics
      description: Aggregate statistics from query history (total queries, avg latency, error rate).
      operationId: queryStats
      tags: [Query]
      responses:
        "200":
          description: Statistics object
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /api/fuse/federation:
    get:
      summary: Federation topology
      description: |
        Returns the topology of connected Fuse instances in a federated
        deployment, including their datasources and health status.
      operationId: federationTopology
      tags: [Federation]
      responses:
        "200":
          description: Federation topology
          content:
            application/json:
              schema:
                type: object
                properties:
                  instances:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        url:
                          type: string
                        status:
                          type: string
                          enum: [ok, degraded, unreachable]
                        datasources:
                          type: array
                          items:
                            type: string

components:
  parameters:
    DatasourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Datasource connector ID

  schemas:
    QueryRequest:
      type: object
      required: [query]
      properties:
        query:
          type: string
          description: SQL or PPL query string
        format:
          type: string
          enum: [sql, ppl]
          default: sql
          description: Query language format
        analyze:
          type: boolean
          default: false
          description: When true, includes execution_profile with actual timing in response
        timeout_ms:
          type: integer
          default: 30000
          description: Per-query timeout in milliseconds
        result_format:
          type: string
          enum: [json, csv]
          default: json
          description: Response format
        params:
          type: object
          additionalProperties: {}
          description: Named parameters for $name placeholders
        page_size:
          type: integer
          description: Rows per page (enables cursor pagination). When set, response includes next_cursor if more rows exist.
        cursor:
          type: string
          description: Cursor from previous response's next_cursor field for fetching the next page.

    QueryResponse:
      type: object
      properties:
        columns:
          type: array
          items:
            type: string
          description: Column names (includes _datasource for cross-datasource queries)
        rows:
          type: array
          items:
            type: array
            items: {}
          description: Row data (array of arrays)
        metadata:
          type: object
          properties:
            total_rows:
              type: integer
            format:
              type: string
            datasources_queried:
              type: array
              items:
                type: string
              nullable: true
              description: List of datasource IDs involved in the query
            datasource_stats:
              type: object
              additionalProperties:
                $ref: "#/components/schemas/DatasourceStat"
              nullable: true
              description: Per-datasource row counts and latency
            execution_profile:
              $ref: "#/components/schemas/ExecutionProfile"
              nullable: true
              description: Present when analyze=true
        next_cursor:
          type: string
          nullable: true
          description: Cursor for fetching the next page. Present when page_size is set and more rows exist.
        partial_errors:
          type: array
          items:
            $ref: "#/components/schemas/PartialError"
          description: Errors from individual datasources in UNION ALL (other sources still return data)

    DatasourceStat:
      type: object
      properties:
        rows:
          type: integer
        latency_ms:
          type: integer

    ExecutionProfile:
      type: object
      properties:
        total_ms:
          type: integer
        nodes:
          type: array
          items:
            $ref: "#/components/schemas/ProfileNode"

    ProfileNode:
      type: object
      properties:
        op:
          type: string
          description: Operation name (RemoteScan, Merge, HashJoin, etc.)
        datasource:
          type: string
          nullable: true
        actual_rows:
          type: integer
        actual_ms:
          type: integer
        data_bytes:
          type: integer
          nullable: true
        pushdown:
          type: array
          items:
            type: string
          description: Pushdown operations (filter, projection, limit)
        children:
          type: array
          items:
            $ref: "#/components/schemas/ProfileNode"

    HistoryEntry:
      type: object
      properties:
        query:
          type: string
        format:
          type: string
        timestamp:
          type: integer
          description: Unix timestamp (seconds)
        latency_ms:
          type: integer
        row_count:
          type: integer
        error:
          type: string
          nullable: true

    DatasourceInfo:
      type: object
      properties:
        id:
          type: string
        connector_type:
          type: string
        capabilities:
          $ref: "#/components/schemas/ConnectorCapabilities"

    ConnectorCapabilities:
      type: object
      properties:
        supports_filtering:
          type: boolean
        supports_projection:
          type: boolean
        supports_aggregation:
          type: boolean
        supports_sorting:
          type: boolean
        supports_limit:
          type: boolean
        supports_join:
          type: boolean
        max_concurrent_queries:
          type: integer
        supports_streaming:
          type: boolean
        latency_class:
          type: string
          enum: [low, medium, high]

    SchemaInfo:
      type: object
      properties:
        name:
          type: string
        schema_type:
          type: string
          enum: [index, table, bucket, metricname]
        estimated_row_count:
          type: integer
          nullable: true

    FieldInfo:
      type: object
      properties:
        name:
          type: string
        data_type:
          type: string
        nullable:
          type: boolean

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, degraded, error]
        connectors:
          type: object
          additionalProperties:
            type: object
            properties:
              status:
                type: string
                enum: [healthy, degraded, unhealthy]
              latency_ms:
                type: integer
                nullable: true
              message:
                type: string
                nullable: true

    ValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        error:
          type: string
          nullable: true

    ExplainResponse:
      type: object
      properties:
        plan:
          type: string
          description: Human-readable text plan
        plan_tree:
          $ref: "#/components/schemas/PlanNode"
          nullable: true
          description: Structured plan tree

    PlanNode:
      type: object
      properties:
        op:
          type: string
        detail:
          type: string
          nullable: true
        estimated_rows:
          type: integer
          nullable: true
        estimated_cost:
          type: number
          nullable: true
        children:
          type: array
          items:
            $ref: "#/components/schemas/PlanNode"

    ErrorResponse:
      type: object
      properties:
        error:
          type: string

    PartialError:
      type: object
      properties:
        datasource:
          type: string
        error:
          type: string

    TraceResponse:
      type: object
      properties:
        trace_id:
          type: string
        spans:
          type: array
          items:
            $ref: "#/components/schemas/TraceSpan"
        datasources_searched:
          type: array
          items:
            type: string
        datasources_matched:
          type: array
          items:
            type: string
        total_spans:
          type: integer
        search_ms:
          type: integer

    TraceSpan:
      type: object
      properties:
        datasource:
          type: string
        timestamp:
          nullable: true
          description: Timestamp value from the source row (auto-detected from timestamp/@timestamp/time/ts fields)
        fields:
          type: object
          additionalProperties: {}
          description: All fields from the matching row

    SavedQuery:
      type: object
      required: [name, query]
      properties:
        name:
          type: string
        query:
          type: string
        format:
          type: string
          enum: [sql, ppl]
          default: sql

    AlertInfo:
      type: object
      properties:
        name:
          type: string
        query:
          type: string
        format:
          type: string
          enum: [sql, ppl]
        interval_secs:
          type: integer

    AlertResult:
      type: object
      properties:
        rule_name:
          type: string
        state:
          type: string
          enum: [Ok, Firing]
        value:
          type: number
        threshold:
          type: number
        message:
          type: string

    ViewInfo:
      type: object
      properties:
        name:
          type: string
        stale:
          type: boolean

    WebhookSubscription:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        query: { type: string }
        format: { type: string }
        condition:
          $ref: "#/components/schemas/WebhookCondition"
        callback_url: { type: string, format: uri }
        enabled: { type: boolean }
        fire_count: { type: integer }
        last_evaluated: { type: integer, nullable: true }
        last_error: { type: string, nullable: true }

    WebhookCondition:
      oneOf:
        - type: object
          properties:
            type: { type: string, enum: [rows_returned] }
        - type: object
          properties:
            type: { type: string, enum: [threshold] }
            column: { type: string }
            operator: { type: string, enum: [gt, gte, lt, lte, eq] }
            value: { type: number }

    Relationship:
      type: object
      properties:
        left_datasource: { type: string }
        left_table: { type: string }
        left_column: { type: string }
        right_datasource: { type: string }
        right_table: { type: string }
        right_column: { type: string }
        method: { type: string, enum: [name_match, naming_convention] }
        confidence: { type: number, minimum: 0, maximum: 1 }

    ChangeEvent:
      type: object
      required: [datasource, table, change_type, timestamp]
      properties:
        datasource: { type: string }
        table: { type: string }
        change_type: { type: string, enum: [insert, update, delete, schema_change] }
        timestamp: { type: integer }

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  /api/fuse/info:
    get:
      summary: Server info
      description: Returns server version, uptime, connector count, and feature flags
      operationId: getInfo
      responses:
        "200":
          description: Server information
          content:
            application/json:
              schema:
                type: object
                properties:
                  version: { type: string }
                  uptime_secs: { type: integer }
                  connectors: { type: integer }
                  features: { type: object }

  /api/fuse/cache:
    delete:
      summary: Clear result cache
      description: Flush all cached query results
      operationId: clearCache
      responses:
        "200":
          description: Cache cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  cleared: { type: boolean }

  # ── Sprint 18: GraphQL (#1810) ──

  /api/fuse/graphql:
    get:
      summary: GraphiQL playground
      description: Interactive GraphQL IDE for exploring the Fuse schema.
      operationId: graphiql
      tags: [GraphQL]
      responses:
        "200":
          description: GraphiQL HTML page
          content:
            text/html:
              schema:
                type: string
    post:
      summary: Execute GraphQL query
      description: |
        Full GraphQL API. Query types: datasources, schemas, fields, savedQueries,
        history, views, health. Mutations: executeQuery, saveQuery, deleteSavedQuery,
        createView, deleteView.
      operationId: graphql
      tags: [GraphQL]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, description: GraphQL query string }
                variables: { type: object }
                operationName: { type: string }
      responses:
        "200":
          description: GraphQL response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: object }
                  errors: { type: array, items: { type: object } }

  # ── Sprint 18: Webhooks (#1811) ──

  /api/fuse/webhooks:
    get:
      summary: List webhook subscriptions
      operationId: listWebhooks
      tags: [Webhooks]
      responses:
        "200":
          description: List of webhook subscriptions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/WebhookSubscription"
    post:
      summary: Create webhook subscription
      operationId: createWebhook
      tags: [Webhooks]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, query, condition, callback_url]
              properties:
                name: { type: string }
                query: { type: string }
                format: { type: string, default: sql }
                condition:
                  $ref: "#/components/schemas/WebhookCondition"
                callback_url: { type: string, format: uri }
      responses:
        "201":
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }

  /api/fuse/webhooks/{id}:
    get:
      summary: Get webhook subscription
      operationId: getWebhook
      tags: [Webhooks]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookSubscription"
        "404":
          description: Not found
    delete:
      summary: Delete webhook subscription
      operationId: deleteWebhook
      tags: [Webhooks]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Deleted
        "404":
          description: Not found

  /api/fuse/webhooks/{id}/test:
    post:
      summary: Test-fire a webhook
      description: Execute the query, evaluate condition, deliver if met.
      operationId: testWebhook
      tags: [Webhooks]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  fired: { type: boolean }
                  row_count: { type: integer }
                  delivery_error: { type: string, nullable: true }

  # ── Sprint 18: Schema Relationships (#1831) ──

  /api/fuse/relationships:
    get:
      summary: Discover cross-datasource relationships
      description: Auto-detect foreign key relationships by column name patterns and type compatibility.
      operationId: discoverRelationships
      tags: [Schema]
      responses:
        "200":
          description: Discovered relationships
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Relationship"

  # ── Sprint 18: CDC (#1852) ──

  /api/fuse/cdc/events:
    post:
      summary: Ingest a change event
      description: Record a datasource change and mark affected materialized views for refresh.
      operationId: ingestCdcEvent
      tags: [CDC]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeEvent"
      responses:
        "200":
          description: Event accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted: { type: boolean }
                  affected_views: { type: array, items: { type: string } }

  /api/fuse/cdc/status:
    get:
      summary: CDC tracker status
      operationId: cdcStatus
      tags: [CDC]
      responses:
        "200":
          description: CDC stats and pending views
          content:
            application/json:
              schema:
                type: object
                properties:
                  stats:
                    type: object
                    properties:
                      tracked_views: { type: integer }
                      pending_refreshes: { type: integer }
                      total_events: { type: integer }
                  pending_views: { type: array, items: { type: string } }
                  recent_events:
                    type: array
                    items:
                      $ref: "#/components/schemas/ChangeEvent"

    ChangeEvent:
      type: object
      required: [datasource, table, change_type, timestamp]
      properties:
        datasource: { type: string }
        table: { type: string }
        change_type: { type: string, enum: [insert, update, delete, schema_change] }
        timestamp: { type: integer }

  /api/fuse/lineage:
    post:
      summary: Extract query lineage graph
      description: Parse SQL/PPL query and return data flow graph (source → transform → sink)
      tags: [Lineage]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string }
                format: { type: string, default: sql, enum: [sql, ppl] }
      responses:
        "200":
          description: Lineage graph
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LineageGraph"

  /api/fuse/replay/recordings:
    get:
      summary: List recorded queries
      tags: [Replay]
      responses:
        "200":
          description: Array of recorded queries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecordedQuery"
    delete:
      summary: Clear all recordings
      tags: [Replay]
      responses:
        "204":
          description: Recordings cleared

  /api/fuse/replay/record:
    post:
      summary: Record a query for later replay
      tags: [Replay]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecordedQuery"
      responses:
        "201":
          description: Query recorded
